{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>
<body>

    <div class="content container">
        {% block content %}
            <section class="form-main">
                <div class="form-content">
                    <div class="box">
                        <h3><b>Bienvenido</b></h3>
                        <center><i class="fa-solid fa-user fa-10x"></i></center>

                        {% if messages %}
                            <ul class="messages">
                                {{ messages }}
                            </ul>
                        {% endif %}
                        
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-box">
                                <input type="text" placeholder="Nombre de Usuario" class="input-control" name = "username" id = 'username' required>
                            </div>
                            <div class="input-box">
                                <input type="password" placeholder="Password" class="input-control" name = "password" required>
                            </div>
                            <!--<button type="submit" class="btn" onclick = "guardarUsuario(document.getElementById('username').value )" >Iniciar Sesión</button>-->
                            <button type="submit" class="btn">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </section>
        {% endblock content%}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

</body>
</html>