{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% if form.errors %}
<div class="alert alert-danger" role="alert">Ha sucedido un error</div>
{% endif %}

<div class="container">
    <h1>Registrar Coopertiva</h1>
    <form action="{% url 'gestionarViaje' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>


<div class="container">
    <p></p>
    <p></p>
    <h1>Coopertivas Registradas</h1>
    <p></p>
    <p></p>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Capacidad</th>
            </tr>
        </thead>
        <tbody>
            {% for cooperativa in cooperativas %}
            <tr>
                <th scope="row">{{cooperativa.idCooperativa}}</th>
                <td>{{cooperativa.nombre}}</td>
                <td>{{cooperativa.direccion}}</td>
                <td>{{cooperativa.capacidad}}</td>

                <td><a class="btn btn-warning" href="{% url 'editarCooperativas' cooperativa.idCooperativa%}" >Editar </a></td>
                <td><a class="btn btn-danger" href= "{% url 'eliminarCooperativas' cooperativa.idCooperativa%}" > Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}