{% extends "Administrador/Administrador.html" %}

{% load crispy_forms_tags%}
{% block content %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">Ha sucedido un error</div>
{% endif %}

<h1>Editar Cooperativa</h1>

<form action="{% url 'actualizarBuses'  bus.idBus%}" method="POST">
  {% csrf_token %} 
  
  {{ form | crispy }}
  
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a class="btn btn-warning" href = "{% url 'administrarBuses' %}" > Cancelar</a>
</form>
{% endblock %}
